<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hustle real hard</title>

    <!--
    <style type="text/css">
    .sectionHiddenDiv {
        display: none;
    }
    </style>
    -->

    <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $username = ""
        $userApikey = ""
        $("#submit").click(function(e){
            e.preventDefault();
            var submitBTN = $(this)
            submitBTN.attr("disabled", "disabled")
            username = $("#username").val()
            var password = $("#password").val()
            var encodedString = btoa(username + ":" + password)
            var endPoint = "http://localhost:8000/api/v1/login/?format=json"
            $.ajax({
                type: "GET",
                url: endPoint,
                data: {},
                success: function(data){
                    userApikey = data.objects[0].api_key
                    $("#userKey").text(userApikey);
                    $(".content").fadeIn();
                    $("#login").fadeOut();
                    getPostingData("#listPostings");

                },
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Authorization", "Basic " + encodedString)
                },
                error: function(data){
                },
                complete: function(){
                    submitBTN.prop("disabled", false)
                }
            })
        });

        function convertToYoutube(youtubeShareLink){
            var embedCode = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/" + youtubeShareLink + "\" frameborder=\"0\" allowfullscreen></iframe>"
            return embedCode
        }

        $("#newRecord").click(function(e){
            e.preventDefault();
            var newApiString = username + ":" + userApikey
            var endPoint = "http://localhost:8000/api/v1/posting/"
            var postingData = $("#postText").val()
            var urlLink = $("#urlLink").val()
            if (postingData.length >= 1 && urlLink.length != 1){
                $("#postError").fadeOut();
                var data = JSON.stringify({
                    "title":postingData,
                    "url": urlLink,
                });
                $.ajax({
                    type: "POST",
                    url: endPoint,
                    data: data,
                    contentType: "application/json",
                    dataType:"json",
                    success: function(data){
                        console.log(data);
                        $("#listPostings").prepend("<li>"+postingData+" "+urlLink +"</li>")
                    },
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Authorization", "ApiKey " + newApiString)
                    },
                    error: function(data){
                        $("#postError").fadeIn();
                        if (data.responseJSON){
                            var theError = data.responseJSON.posting;
                            console.log(theError);
                            $.each(theError, function(key, value){
                                console.log(key);
                                console.log(value);
                                $("#postError").text(value);
                            });
                        }
                        else {
                            var num = $(".sectionHiddenDiv").attr("data-id");
                            var num = num.slice(5);
                            num++;
                            $("#listPostings").prepend("<li class=\"ui-li-static ui-body-inherit\"> <a href="+urlLink+">"+postingData+"</a></li")
                            var youTubeData = convertToYoutube(urlLink);
                            var addSection = "<div class='sectionHiddenDiv' data-id='page-"+youTubeData + "</div>";
                            console.log(addSection);
                            $("#newPostContent").append(addSection);
                        }

                    },
                    complete: function(data){
                        console.log("finished")
                    }
                })
            }
            else{
                $("#postError").fadeIn();
                $("#postError").text("empty");
            }
        });

        function parseData(object){
            //console.log(object);
            $(".listItemLink").click(function(e){
                e.preventDefault();
                var sectionId = "page-" + $(this).attr("id");
                $("[data-id='"+ sectionId +"']").fadeIn();
            })
            var title = object[0].title;
            var url = object[0].url;
            var objID = object[0].id;
            var htmlLink = "<a href='"+url+"' class='listItemLink'id='" + objID + "' >" + title + "</a>"
            var htmlText = "<li class=\"ui-li-static ui-body-inherit\">"+ htmlLink +"</li>"

            var re = new RegExp("/([A-Za-z0-9_\-]{11})/")

            var newUrl = url.match(/([A-Za-z0-9_\-]{11})/)[0];
            console.log(newUrl);
            var youTubeData = convertToYoutube(newUrl);
            var addSection = "<div class='sectionHiddenDiv' data-id='page-" + objID +"'>" + youTubeData + "</div>"
            $("#newPostContent").append(addSection)
            return htmlText
        }

        function getPostingData(listId){
            console.log("getting...data");
            var newApiString = username + ":" + userApikey
            var endPoint = "http://localhost:8000/api/v1/posting/"
            var data = JSON.stringify({})
            $.ajax({
                type: "GET",
                url: endPoint,
                data: data,
                contentType: "application/json",
                success: function(data){
                    var objectArray = data.objects;
                    $.each(objectArray, function(){
                        var listItemSingle = $(this);
                        var htmlTextResult = parseData(listItemSingle);
                        $(listId).append(htmlTextResult);
                        console.log($(this))
                    })
                },
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Authorization", "ApiKey " + newApiString)
                },
                error: function(data){
                    console.log(data);
                },
                complete: function(data){
                    console.log(data);
                }
            })
        }

        $(window).on("navigate", function(event){
            var pageId = $.mobile.activePage.attr("id")
            if (pageId == "two"){
                $("#" + pageId + " .ui-content").html("<form id='postForm' ><input type='text' id='postText'/></form>");
            }
            else if(pageId=="listPage"){
                getPostingData("#listPostings");
            }
        });
    });

    </script>
</head>

<body>
<form id="login">
<input type="text" id="username"/>
<input type="password" id="password"/>
<input type="submit" id="submit" />
</form>
<p>User api key is</p>
<p id="userKey"></p>

<div class="content" style="display:none;">
<h1>The Content</h1>
<ul id="listPostings">
</ul>
</div>

<div class="content" id="newPostContent" style="display:none;">
<h1>New Post</h1>
<span id="postError" style="color:red;"></span></hr>
<input type="text" id="postText" />
<input type="text" id="urlLink" />
<input type="submit" id="newRecord"/>

</div>


</body>
</html>