<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hustle real hard</title>
    <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $username = ""
        $userApikey = ""
        $("#submit").click(function(e){
            e.preventDefault();
            var submitBTN = $(this)
            submitBTN.attr("disabled", "disabled")
            username = $("#username").val()
            var password = $("#password").val()
            var encodedString = btoa(username + ":" + password)
            var endPoint = "http://localhost:8000/api/v1/login/?format=json"
            $.ajax({
                type: "GET",
                url: endPoint,
                data: {},
                success: function(data){
                    userApikey = data.objects[0].api_key
                    $("#userKey").text(userApikey);
                    $(".content").fadeIn();
                    $("#login").fadeOut();
                    getPostingData("#listPostings");

                },
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Authorization", "Basic " + encodedString)
                },
                error: function(data){
                },
                complete: function(){
                    submitBTN.prop("disabled", false)
                }
            })
        });

        $("#newRecord").click(function(e){
            e.preventDefault();
            var newApiString = username + ":" + userApikey
            var endPoint = "http://localhost:8000/api/v1/posting/"
            var postingData = $("#postText").val()
            if (postingData.length >= 1){
                $("#postError").fadeOut();
                var data = JSON.stringify({
                    "post":postingData,
                })
                $.ajax({
                    type: "POST",
                    url: endPoint,
                    data: data,
                    contentType: "application/json",
                    success: function(data){
                        console.log(data);
                        $("#listPostings").prepend("<li>"+postingData+"</li>")
                    },
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Authorization", "ApiKey " + newApiString)
                    },
                    error: function(data){
                        console.log(data);
                    },
                    complete: function(data){
                        console.log(data);
                    }
                })
            }
            else{
                $("#postError").fadeIn();
                $("#postError").text("empty");
            }
        });

        function getPostingData(listId){
            console.log("getting...data");
            var newApiString = username + ":" + userApikey
            var endPoint = "http://localhost:8000/api/v1/posting/"
            var data = JSON.stringify({})
            $.ajax({
                type: "GET",
                url: endPoint,
                data: data,
                contentType: "application/json",
                success: function(data){
                    var objectArray = data.objects;
                    $.each(objectArray, function(){
                        var listItemSingle = $(this);
                        $(listId).append("<li class=\"ui-li-static ui-body-inherit\">"+listItemSingle[0].post+"</li>" );
                        console.log($(this))
                    })
                },
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Authorization", "ApiKey " + newApiString)
                },
                error: function(data){
                    console.log(data);
                },
                complete: function(data){
                    console.log(data);
                }
            })
        }

        $(window).on("navigate", function(event){
            var pageId = $.mobile.activePage.attr("id")
            if (pageId == "two"){
                console.log(userApikey);
                $("#" + pageId + " .ui-content").html("<form id='postForm' ><input type='text' id='postText'/></form>");
            }
            else if(pageId=="listPage"){
                getPostingData("#listPostings");
            }
        });
    });

    </script>
</head>

<body>
<form id="login">
<input type="text" id="username"/>
<input type="password" id="password"/>
<input type="submit" id="submit" />
</form>
<p>User api key is</p>
<p id="userKey"></p>

<div class="content" style="display:none;">
<h1>The Content</h1>
<ul id="listPostings">
</ul>
</div>

<div class="content" style="display:none;">
<h1>New Post</h1>

<span id="postError" style="color:red;"></span></hr>
<input type="text" id="postText" />
<input type="submit" id="newRecord"/>

</div>


</body>
</html>