{% extends 'base.html' %}



{% block content %}
<form>
<input type="text" name="username" id="username"/>
<input type="password" name="password" id="password"/>
<input type="submit" value="Login" id="submit"/>
</form>

{% endblock %}



<script>
{# block jquery #}


$("#submit").click(function(e){
    e.preventDefault();
    var submitBTN = $(this)
    submitBTN.attr("disabled", "disabled")
    username = $("#username").val()
    var password = $("#password").val()
    var encodedString = btoa(username + ":" + password)
    var endPoint = "http://localhost:8000/api/v1/login/?format=json"
    $.ajax({
        type: "GET",
        url: endPoint,
        data: {},
        success: function(data){
            userApikey = data.objects[0].api_key
            $.mobile.navigate("#two");
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("Authorization", "Basic " + encodedString)
        },
        error: function(data){
        },
        complete: function(){
            submitBTN.prop("disabled", false)
        }
    })
});

$("#newRecord").click(function(e){
    e.preventDefault();
    var newApiString = username + ":" + userApikey
    var endPoint = "http://localhost:8000/api/v1/posting/"
    var data = JSON.stringify({
        "post":"'" + $("#postText").val() +"'",
    })
    $.ajax({
        type: "POST",
        url: endPoint,
        data: data,
        contentType: "application/json",
        success: function(data){
            console.log(data);
        },
        beforeSend: function(xhr){
            xhr.setRequestHeader("Authorization", "ApiKey " + newApiString)
        },
        error: function(data){
            console.log(data);
        },
        complete: function(data){
            console.log(data);
        }
    })
});



{# endblock #}
</script>